Load Data After edit it on power query

In [ ]:
import pandas as pd
import numpy as np

# Load data
df = pd.read_csv('netflix.csv')
# Check data types and missing values
print(df.info())
print("********************************")
# Check missing values
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6234 non-null   int64
 1   type          6234 non-null   object
 2   title         6234 non-null   object
 3   director      4265 non-null   object
 4   cast          5664 non-null   object
 5   country       5758 non-null   object
 6   date_added    6223 non-null   object
 7   release_year  6234 non-null   int64
 8   rating        6224 non-null   object
 9   duration      6234 non-null   object
 10  listed_in     6234 non-null   object
 11  description   6234 non-null   object
dtypes: int64(2), object(10)
memory usage: 584.6+ KB
None
********************************
show_id            0
type               0
title              0
director        1969
cast             570
country          476
date_added        11
release_year       0
rating            10
duration           0
listed_in          0
description        0
dtype: int64

Fix errors and Nulls

In [25]:
# Fill missing values
df['director'] = df['director'].fillna('').astype(str) + ' Unknown'
df['cast'] = df['cast'].fillna('').astype(str) + ' Unknown'
df['country'] = df['country'].fillna('').astype(str) + ' Unknown'

# Check for remaining missing values
print(df.isnull().sum())

# Display the first few rows
print(df.head())

# Check data types and missing values
print(df.info())

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added      11
release_year     0
rating          10
duration         0
listed_in        0
description      0
dtype: int64
    show_id     type                                    title  \
0  81145628    Movie  Norm of the North: King Sized Adventure
1  80117401    Movie               Jandino: Whatever it Takes
2  70234439  TV Show                       Transformers Prime
3  80058654  TV Show         Transformers: Robots in Disguise
4  80125979    Movie                             #realityhigh

                                            director  \
0  Richard Finn, Tim Maltby Unknown Unknown Unkno...
1    Unknown Unknown Unknown Unknown Unknown Unknown
2    Unknown Unknown Unknown Unknown Unknown Unknown
3    Unknown Unknown Unknown Unknown Unknown Unknown
4  Fernando Lebrija Unknown Unknown Unknown Unkno...

                                                cast  \
0  Alan Marriott, Andrew Toth, Brian Dobson, Cole...
1  Jandino Asporaat Unknown Unknown Unknown Unkno...
2  Peter Cullen, Sumalee Montano, Frank Welker, J...
3  Will Friedle, Darren Criss, Constance Zimmer, ...
4  Nesta Cooper, Kate Walsh, John Michael Higgins...

                                             country         date_added  \
0  United States, India, South Korea, China Unkno...  September 9, 2019
1  United Kingdom Unknown Unknown Unknown Unknown...  September 9, 2016
2  United States Unknown Unknown Unknown Unknown ...  September 8, 2018
3  United States Unknown Unknown Unknown Unknown ...  September 8, 2018
4  United States Unknown Unknown Unknown Unknown ...  September 8, 2017

   release_year    rating  duration                           listed_in  \
0          2019     TV-PG    90 min  Children & Family Movies, Comedies
1          2016     TV-MA    94 min                     Stand-Up Comedy
2          2013  TV-Y7-FV  1 Season                            Kids' TV
3          2016     TV-Y7  1 Season                            Kids' TV
4          2017     TV-14    99 min                            Comedies

                                         description
0  Before planning an awesome wedding for his gra...
1  Jandino Asporaat riffs on the challenges of ra...
2  With the help of three human allies, the Autob...
3  When a prison ship crash unleashes hundreds of...
4  When nerdy high schooler Dani finally attracts...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6234 non-null   int64
 1   type          6234 non-null   object
 2   title         6234 non-null   object
 3   director      6234 non-null   object
 4   cast          6234 non-null   object
 5   country       6234 non-null   object
 6   date_added    6223 non-null   object
 7   release_year  6234 non-null   int64
 8   rating        6224 non-null   object
 9   duration      6234 non-null   object
 10  listed_in     6234 non-null   object
 11  description   6234 non-null   object
dtypes: int64(2), object(10)
memory usage: 584.6+ KB
None